Repository julofinance/julo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

chore: generate MIT license
  LICENSE
Due: none

chore: update dependencies
  .github/composite-actions/install/action.yml
  package.json
  packages/components/badge/package.json
  packages/components/button/package.json
  packages/components/checkbox/package.json
  packages/components/form-control/package.json
  packages/components/input/package.json
  packages/components/radio/package.json
  packages/components/react/package.json
  packages/components/textarea/package.json
  packages/components/typography/package.json
  packages/pluggables/plug/package.json
  packages/pluggables/text-field/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

fix: storybook issue with typescript v5
  .storybook/main.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

docs: create README.md
  README.md
Due: prettier --write

chore(@julo-ui/progress): update package
  packages/components/progress/package.json
Due: prettier --write

chore(@julo-ui/progress): update package
  packages/components/progress/package.json
  packages/components/react/package.json
Due: prettier --write

chore(@julo-ui/progress): update package
  packages/components/progress/package.json
  packages/components/react/package.json
  packages/components/react/src/index.ts
  pnpm-lock.yaml
Due: eslint, prettier --write

chore(@julo-ui/progress): update package
  packages/components/progress/package.json
  packages/components/react/package.json
  packages/components/react/src/index.ts
  packages/pluggables/plug/package.json
  packages/pluggables/text-field/package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

chore: rename script for check-release:manual
  package.json
  pnpm-lock.yaml
  scripts/check-release-manual-action.ts
Due: eslint, prettier --write

chore: initial setup Card
  packages/components/card/package.json
  packages/components/card/src/Card.tsx
  packages/components/card/src/components/card-body/CardBody.ts
  packages/components/card/src/components/card-body/index.ts
  packages/components/card/src/components/card-body/styles.ts
  packages/components/card/src/components/card-body/types.ts
  packages/components/card/src/components/card-footer/CardFooter.ts
  packages/components/card/src/components/card-footer/index.ts
  packages/components/card/src/components/card-footer/styles.ts
  packages/components/card/src/components/card-footer/types.ts
  packages/components/card/src/components/card-header/CardHeader.ts
  packages/components/card/src/components/card-header/index.ts
  packages/components/card/src/components/card-header/styles.ts
  packages/components/card/src/components/card-header/types.ts
  packages/components/card/src/index.ts
  packages/components/card/src/styles.ts
  packages/components/card/src/types.ts
  packages/components/card/stories/Card.stories.tsx
  packages/components/card/tests/Card.spec.tsx
  packages/components/card/tsconfig.json
  pnpm-lock.yaml
Due: eslint, prettier --write

fix(@julo-ui/card): change file extension from ts to tsx
  packages/components/card/src/components/card-body/CardBody.ts
  packages/components/card/src/components/card-body/CardBody.tsx
  packages/components/card/src/components/card-footer/CardFooter.ts
  packages/components/card/src/components/card-footer/CardFooter.tsx
  packages/components/card/src/components/card-header/CardHeader.ts
  packages/components/card/src/components/card-header/CardHeader.tsx
  pnpm-lock.yaml
Due: eslint, prettier --write

fix(@julo-ui/card): change default value for variant
  packages/components/card/src/Card.tsx
  packages/components/card/src/types.ts
Due: eslint, prettier --write

style(@julo-ui/card): handle style for variant and padding for card children
  packages/components/card/src/styles.ts
Due: eslint, prettier --write

feat(@julo-ui/card): register card header, body and footer to card index
  packages/components/card/src/index.ts
Due: eslint, prettier --write

feat(@julo-ui/card): add card header
  packages/components/card/src/components/card-header/index.ts
  packages/components/card/src/components/card-header/styles.ts
  packages/components/card/src/components/card-header/types.ts
Due: eslint, prettier --write

feat(@julo-ui/card): add card body
  packages/components/card/src/components/card-body/index.ts
  packages/components/card/src/components/card-body/styles.ts
  packages/components/card/src/components/card-body/types.ts
Due: eslint, prettier --write

feat(@julo-ui/card): add card footer
  packages/components/card/src/components/card-footer/index.ts
  packages/components/card/src/components/card-footer/styles.ts
  packages/components/card/src/components/card-footer/types.ts
Due: eslint, prettier --write

feat(@julo-ui/card): add card stories
  packages/components/card/stories/Card.stories.tsx
Due: eslint, prettier --write

feat(@julo-ui/card): unit test
  packages/components/card/tests/Card.spec.tsx
Due: eslint, prettier --write

fix(@julo-ui/card): change nth-child to nth-of-type
  packages/components/card/src/styles.ts
Due: eslint, prettier --write

fix(@julo-ui/card): remove control card story and change it to arrow func
  packages/components/card/stories/Card.stories.tsx
Due: eslint, prettier --write

feat: tooltip alpha version
  .github/CODEOWNERS
  packages/components/tooltip/package.json
  packages/components/tooltip/src/Tooltip.tsx
  packages/components/tooltip/src/TooltipController.tsx
  packages/components/tooltip/src/index.ts
  packages/components/tooltip/src/styles.ts
  packages/components/tooltip/src/types.ts
  packages/components/tooltip/stories/Tooltip.stories.tsx
  packages/components/tooltip/tests/Tooltip.spec.tsx
  packages/components/tooltip/tsconfig.json
  packages/components/tooltip/utils/compute-positions/compute-position-types.ts
  packages/components/tooltip/utils/compute-positions/compute-positions.ts
  packages/components/tooltip/utils/compute-positions/index.ts
  packages/components/tooltip/utils/debounce.ts
  packages/components/tooltip/utils/use-isomorphic-layout-effect.ts
  pnpm-lock.yaml
Due: eslint, prettier --write

fix(@julo-ui/card): change nth-last-child to nth-last-of-type and remove whitespace
  packages/components/card/src/styles.ts
  pnpm-lock.yaml
Due: eslint, prettier --write

feat(@julo-ui/card): add some unit test
  packages/components/card/tests/Card.spec.tsx
Due: eslint, prettier --write

docs(@julo-ui/card): update code owner for card component
  .github/CODEOWNERS
Due: none

feat(@julo-ui/card): register card to julo-ui/react and update version
  packages/components/react/package.json
  packages/components/react/src/index.ts
Due: eslint, prettier --write

docs(@julo-ui/system): enhance typing for Merged, PropGetter and RequiredPropGetter
  packages/core/system/src/react-types.ts
Due: eslint, prettier --write

chore: update dependencies
  packages/components/badge/package.json
  packages/components/button/package.json
  packages/components/checkbox/package.json
  packages/components/form-control/package.json
  packages/components/input/package.json
  packages/components/progress/package.json
  packages/components/radio/package.json
  packages/components/textarea/package.json
  packages/components/typography/package.json
  packages/hooks/context/package.json
  packages/hooks/use-callback-ref/package.json
  packages/hooks/use-controllable-state/package.json
  packages/hooks/use-safe-layout-effect/package.json
  packages/pluggables/plug/package.json
  packages/pluggables/text-field/package.json
Due: prettier --write

[TECH-869]: Card (#4)
  .github/CODEOWNERS
  packages/components/badge/package.json
  packages/components/button/package.json
  packages/components/card/package.json
  packages/components/card/src/Card.tsx
  packages/components/card/src/components/card-body/CardBody.tsx
  packages/components/card/src/components/card-body/index.ts
  packages/components/card/src/components/card-body/styles.ts
  packages/components/card/src/components/card-body/types.ts
  packages/components/card/src/components/card-footer/CardFooter.tsx
  packages/components/card/src/components/card-footer/index.ts
  packages/components/card/src/components/card-footer/styles.ts
  packages/components/card/src/components/card-footer/types.ts
  packages/components/card/src/components/card-header/CardHeader.tsx
  packages/components/card/src/components/card-header/index.ts
  packages/components/card/src/components/card-header/styles.ts
  packages/components/card/src/components/card-header/types.ts
  packages/components/card/src/index.ts
  packages/components/card/src/styles.ts
  packages/components/card/src/types.ts
  packages/components/card/stories/Card.stories.tsx
  packages/components/card/tests/Card.spec.tsx
  packages/components/card/tsconfig.json
  packages/components/checkbox/package.json
  packages/components/input/package.json
  packages/components/progress/package.json
  packages/components/radio/package.json
  packages/components/react/package.json
  packages/components/react/src/index.ts
  packages/components/textarea/package.json
  packages/components/typography/package.json
  packages/core/system/src/react-types.ts
  packages/hooks/context/package.json
  packages/hooks/use-callback-ref/package.json
  packages/hooks/use-controllable-state/package.json
  packages/hooks/use-safe-layout-effect/package.json
  packages/pluggables/plug/package.json
  packages/pluggables/text-field/package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

chore(@julo-ui/system): update version
  packages/core/system/package.json
Due: prettier --write

chore(@julo-ui/rtl-utils): changes
  package.json
  pnpm-lock.yaml
  scripts/setup-test.ts
  tooling/rtl-utils/package.json
  tooling/rtl-utils/src/focus.ts
  tooling/rtl-utils/src/index.ts
  tooling/rtl-utils/src/render.tsx
Due: eslint, prettier --write

fix(julo-ui/card): border style and unit test
  packages/components/card/package.json
  packages/components/card/src/styles.ts
  packages/components/card/tests/Card.spec.tsx
  packages/components/react/package.json
Due: eslint, prettier --write

Card - v0.0.2
  packages/components/card/package.json
  packages/components/card/src/styles.ts
  packages/components/card/tests/Card.spec.tsx
  packages/components/react/package.json
Due: eslint, prettier --write

docs(READMe.md): make READMe.md clearer by @hsebastianjulo
  README.md
Due: prettier --write

docs(README.md): add Contribute point
  README.md
Due: prettier --write

docs(README.md): add summary of key features/advantages
  README.md
Due: prettier --write

Make README.md clearer (#6)
  README.md
Due: prettier --write

Path conditions:
  eslint: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,json,babelrc,eslintrc,prettierrc})
