Repository julofinance/julo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix(@julo-ui/form-control): update UT that cause failed workflow
  packages/components/form-control/tests/FormControl.spec.tsx
Due: eslint, prettier --write

style(@julo-ui/alert): adjust container size of AlertIcon content-fit (#16)
  packages/components/alert/src/components/alert-icon/styles.ts
  packages/components/form-control/tests/FormControl.spec.tsx
  packages/components/react/package.json
Due: eslint, prettier --write

style(@julo-ui/alert): adjust container size of AlertIcon content-fit (#16)
  packages/components/alert/package.json
  packages/components/alert/src/components/alert-icon/styles.ts
  packages/components/form-control/tests/FormControl.spec.tsx
  packages/components/react/package.json
Due: eslint, prettier --write

style(@julo-ui/input): adjust readOnly style, disable style will be overridden
  packages/components/input/package.json
  packages/components/input/src/styles.ts
  packages/components/otp-input/package.json
  packages/components/react/package.json
  packages/components/textarea/package.json
  packages/pluggables/plug/package.json
  packages/pluggables/text-field/package.json
Due: eslint, prettier --write

style(@julo-ui/provider): add foundation colors
  packages/components/provider/src/theme-provider/foundations/colors.ts
Due: eslint, prettier --write

bump: upgrade package version
  packages/components/alert/package.json
  packages/components/badge/package.json
  packages/components/button/package.json
  packages/components/card/package.json
  packages/components/checkbox/package.json
  packages/components/form-control/package.json
  packages/components/input/package.json
  packages/components/otp-input/package.json
  packages/components/provider/package.json
  packages/components/radio/package.json
  packages/components/react/package.json
  packages/components/switch/package.json
  packages/components/textarea/package.json
  packages/components/typography/package.json
  packages/pluggables/plug/package.json
  packages/pluggables/text-field/package.json
  tooling/rtl-utils/package.json
Due: prettier --write

fix(@julo-ui/form-control): counter position incorrect when helperText doesn't exist
  packages/components/form-control/src/components/form-info-group/styles.ts
Due: eslint, prettier --write

bump: upgrade package version
  packages/components/checkbox/package.json
  packages/components/form-control/package.json
  packages/components/input/package.json
  packages/components/otp-input/package.json
  packages/components/radio/package.json
  packages/components/react/package.json
  packages/components/switch/package.json
  packages/components/textarea/package.json
  packages/pluggables/plug/package.json
  packages/pluggables/text-field/package.json
Due: prettier --write

chore: changes
  .github/composite-actions/install/action.yml
  .nvmrc
  package.json
  packages/components/alert/package.json
  packages/components/badge/package.json
  packages/components/button/package.json
  packages/components/card/package.json
  packages/components/checkbox/package.json
  packages/components/form-control/package.json
  packages/components/input/package.json
  packages/components/otp-input/package.json
  packages/components/progress/package.json
  packages/components/provider/package.json
  packages/components/radio/package.json
  packages/components/react/package.json
  packages/components/sliders/package.json
  packages/components/switch/package.json
  packages/components/textarea/package.json
  packages/components/typography/package.json
  packages/core/system/package.json
  packages/hooks/context/package.json
  packages/hooks/use-callback-ref/package.json
  packages/hooks/use-controllable-state/package.json
  packages/hooks/use-safe-layout-effect/package.json
  packages/hooks/use-watch-element-size/package.json
  packages/pluggables/plug/package.json
  packages/pluggables/text-field/package.json
  packages/utilities/dom-utils/package.json
  packages/utilities/function-utils/package.json
  packages/utilities/number-utils/package.json
  packages/utilities/object-utils/package.json
  plop/templates/component/package.json.hbs
  plop/templates/pluggable/package.json.hbs
  plop/templates/utilities/package.json.hbs
  pnpm-lock.yaml
Due: prettier --write

fix(@julo-ui/checkbox): onClick not passed to root element
  packages/components/checkbox/src/use-checkbox.ts
Due: eslint, prettier --write

bump: upgrade package version
  packages/components/checkbox/package.json
  packages/components/react/package.json
  packages/components/switch/package.json
Due: prettier --write

style(@julo-ui/provider): change bodySmall size
  packages/components/provider/src/theme-provider/foundations/font-sizes.ts
Due: eslint, prettier --write

feat(@julo-ui/alert): v0.0.1 (#10)
  .github/CODEOWNERS
  packages/components/alert/package.json
  packages/components/alert/src/Alert.tsx
  packages/components/alert/src/AlertProvider.tsx
  packages/components/alert/src/components/alert-description/AlertDescription.tsx
  packages/components/alert/src/components/alert-description/index.ts
  packages/components/alert/src/components/alert-description/styles.ts
  packages/components/alert/src/components/alert-description/types.ts
  packages/components/alert/src/components/alert-icon/AlertIcon.tsx
  packages/components/alert/src/components/alert-icon/index.ts
  packages/components/alert/src/components/alert-icon/styles.ts
  packages/components/alert/src/components/alert-icon/types.ts
  packages/components/alert/src/components/alert-icon/usecase/index.ts
  packages/components/alert/src/components/alert-icon/usecase/use-handle-icon.ts
  packages/components/alert/src/components/alert-title/AlertTitle.tsx
  packages/components/alert/src/components/alert-title/index.ts
  packages/components/alert/src/components/alert-title/styles.ts
  packages/components/alert/src/components/alert-title/types.ts
  packages/components/alert/src/icons.tsx
  packages/components/alert/src/index.ts
  packages/components/alert/src/styles.ts
  packages/components/alert/src/types.ts
  packages/components/alert/stories/Alert.stories.tsx
  packages/components/alert/tests/Alert.spec.tsx
  packages/components/alert/tsconfig.json
  packages/components/card/tests/Card.spec.tsx
  packages/components/react/package.json
  packages/components/react/src/index.ts
  pnpm-lock.yaml
Due: eslint, prettier --write

refactor(@julo-ui/{form-control, input}): changes
  packages/components/checkbox/package.json
  packages/components/form-control/package.json
  packages/components/form-control/src/use-form-control.ts
  packages/components/input/package.json
  packages/components/input/src/components/input-group/styles.ts
  packages/components/input/src/components/input-group/usecase/use-handle-children.tsx
  packages/components/input/src/components/input-group/usecase/use-listen-input.tsx
  packages/components/input/tests/Input.spec.tsx
  packages/components/otp-input/package.json
  packages/components/radio/package.json
  packages/components/react/package.json
  packages/components/switch/package.json
  packages/components/textarea/package.json
  packages/pluggables/plug/package.json
  packages/pluggables/text-field/package.json
Due: eslint, prettier --write

chore(.changeset): update changelog repo
  .changeset/config.json
Due: prettier --write

chore: update workflow for quality
  .github/workflows/quality.yml
Due: none

fix(@julo-ui/{checkbox, radio}): handle local state when isTrullyControlled
  packages/components/checkbox/package.json
  packages/components/checkbox/src/use-checkbox.ts
  packages/components/radio/package.json
  packages/components/radio/src/use-radio.ts
  packages/components/react/package.json
  packages/components/switch/package.json
Due: eslint, prettier --write

chore(deployment-preview): setup deployment url
  .github/workflows/preview-build.yml
  Dockerfile
  nginx/nginx.conf
Due: none

chore(deployment-preview): update build command
  Dockerfile
Due: none

chore: setup cloudrun deployment (#17)
  .github/workflows/preview-build.yml
  Dockerfile
  nginx/nginx.conf
Due: none

Path conditions:
  eslint: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,json,babelrc,eslintrc,prettierrc})
