Repository julofinance/julo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat: changes
  clean-package.config.json
  package.json
  packages/components/button/package.json
  packages/components/button/stories/Button.stories.tsx
  packages/components/providers/tsconfig.json
  packages/components/react/package.json
  packages/components/react/src/index.ts
  packages/components/react/tsconfig.json
  packages/components/typography/package.json
  packages/components/typography/stories/Body.stories.tsx
  packages/components/typography/stories/Caption.stories.tsx
  packages/components/typography/stories/Heading.stories.tsx
  packages/components/typography/tests/Typography.spec.tsx
  plop/component/package.json.hbs
  plop/component/src/index.ts.hbs
  plop/component/src/styles.ts.hbs
  plop/component/src/types.ts.hbs
  plop/component/src/{{pascalCase componentName}}.tsx.hbs
  plop/component/stories/{{pascalCase componentName}}.stories.tsx.hbs
  plop/component/tests/{{pascalCase componentName}}.spec.tsx.hbs
  plop/component/tsconfig.json.hbs
  plopfile.js
  pnpm-lock.yaml
  tsconfig.json
Due: eslint, prettier --write

chore: add .nvmrc
  .nvmrc
Due: none

chore(.lintstagedrc): remove yml from prettier fix:
  .lintstagedrc
Due: none

chore: remove unused package
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add codeowner
  .github/CODEOWNERS
Due: none

chore: add quality check workflow (#32)
  .github/composite-actions/install/action.yml
  .github/workflows/quality.yml
  jest.config.js
Due: eslint, prettier --write

chore: remove @emotion/css and @emotion/react from root
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: adjust dependencies
  packages/components/providers/package.json
  packages/components/react/package.json
Due: prettier --write

chore(plop/component): adjust template package.json
  plop/component/package.json.hbs
Due: none

docs(.github): adjust codeowners
  .github/CODEOWNERS
Due: none

[TECH-947]: Setup Workflow Release Manual (#34)
  .github/workflows/release-manual.yml
  package.json
  packages/components/react/package.json
  scripts/check-release-action-input.ts
Due: eslint, prettier --write

feat(@julo-ui/button): add displayName
  packages/components/button/src/Button.tsx
Due: eslint, prettier --write

refactor(@julo-ui/provider): changes
  packages/components/provider/package.json
  packages/components/provider/src/index.ts
  packages/components/provider/src/julo-provider/JuloProvider.tsx
  packages/components/provider/src/julo-provider/index.ts
  packages/components/provider/src/julo-provider/types.ts
  packages/components/provider/src/theme-provider/README.md
  packages/components/provider/src/theme-provider/ThemeProvider.tsx
  packages/components/provider/src/theme-provider/constants/colors.ts
  packages/components/provider/src/theme-provider/constants/font-sizes.ts
  packages/components/provider/src/theme-provider/constants/index.ts
  packages/components/provider/src/theme-provider/constants/line-heights.ts
  packages/components/provider/src/theme-provider/index.ts
  packages/components/provider/src/theme-provider/styles/app.tsx
  packages/components/provider/src/theme-provider/styles/global-config.ts
  packages/components/provider/src/theme-provider/styles/global-typography.ts
  packages/components/provider/src/theme-provider/styles/global-variable.ts
  packages/components/provider/src/theme-provider/types.ts
  packages/components/provider/src/theme-provider/utils.ts
  packages/components/provider/tsconfig.json
Due: eslint, prettier --write

refactor: changes
  .storybook/preview.js
  examples/cra/src/index.tsx
  examples/vite-ts/src/main.tsx
  pnpm-lock.yaml
  tooling/rtl-utils/package.json
  tooling/rtl-utils/src/render.tsx
Due: eslint, prettier --write

refactor: changes
  packages/components/react/package.json
  packages/components/react/src/index.ts
  packages/components/typography/package.json
  packages/components/typography/src/components/Heading/Heading.tsx
Due: eslint, prettier --write

chore(.github/workflows): changes
  .github/workflows/publish-package.yml
  .github/workflows/release-auto.yml
Due: prettier --write

chore(@julo-ui/provider): update version
  packages/components/provider/package.json
Due: prettier --write

docs(plop/component): remove comma on template
  plop/component/package.json.hbs
Due: none

docs(.github/CODEOWNERS): update codeowner
  .github/CODEOWNERS
Due: none

docs: reorder import
  packages/components/button/src/Button.tsx
  packages/components/typography/src/components/Heading/Heading.tsx
Due: eslint, prettier --write

docs(plop/component): adjust package.json template
  plop/component/package.json.hbs
Due: none

chore(@julo-ui/react): update repository directory
  packages/components/react/package.json
Due: prettier --write

chore(package.json): move clean-package to devDependencies
  package.json
Due: prettier --write

feat(@julo-ui/system): new core utils for julo-ui
  packages/core/system/package.json
  packages/core/system/src/factory.ts
  packages/core/system/src/forward-ref.tsx
  packages/core/system/src/index.ts
  packages/core/system/src/system.ts
  packages/core/system/src/types.ts
  packages/core/system/tsconfig.json
Due: eslint, prettier --write

docs(plop/components): changes
  plop/component/package.json.hbs
  plop/component/src/{{pascalCase componentName}}.tsx.hbs
Due: none

refactor(@julo-ui/typography): changes
  packages/components/typography/package.json
  packages/components/typography/src/Typography.tsx
  packages/components/typography/src/components/Body/Body.tsx
  packages/components/typography/src/components/Caption/Caption.tsx
  packages/components/typography/src/components/Heading/Heading.tsx
  packages/components/typography/src/types.ts
Due: eslint, prettier --write

refactor(@julo-ui/button): changes
  packages/components/button/package.json
  packages/components/button/src/Button.tsx
  packages/components/button/src/types.ts
Due: eslint, prettier --write

style(@julo-ui/provider): update global-config
  packages/components/provider/package.json
  packages/components/provider/src/theme-provider/styles/global-config.ts
Due: eslint, prettier --write

bump(pnpm-lock.yaml): update lock
  pnpm-lock.yaml
Due: none

fix(@julo-ui/system): fix Type 'unknown' does not satisfy the constraint 'object'
  packages/core/system/src/factory.ts
  packages/core/system/src/system.ts
  packages/core/system/src/types.ts
Due: eslint, prettier --write

chore(.github/workflows/release-auto): skip step on fail build
  .github/workflows/release-auto.yml
Due: prettier --write

chore: changes
  package.json
  pnpm-lock.yaml
Due: prettier --write

bump(@julo-ui/react): update version to v0.0.1-alpha.5
  packages/components/react/package.json
Due: prettier --write

bump: update versions
  packages/components/button/package.json
  packages/components/provider/package.json
  packages/components/react/package.json
  packages/components/typography/package.json
Due: prettier --write

docs(plop/component): update peerDependencies on template package.json
  plop/component/package.json.hbs
Due: none

bump: update versions & add peerDependencies
  packages/components/button/package.json
  packages/components/react/package.json
  packages/components/typography/package.json
  packages/core/system/package.json
  pnpm-lock.yaml
Due: prettier --write

docs(.github): update PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs(plop/component): update component template
  plop/component/src/{{pascalCase componentName}}.tsx.hbs
Due: none

Path conditions:
  eslint: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,babelrc,eslintrc,prettierrc})
